<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>springmvc-homework1</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 核心控制器,把所有的请求拦下来交给springmvc框架处理 -->
  <servlet>
  	<servlet-name>springmvc</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>	
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:springmvc-config.xml</param-value>   <!-- 配置springmvc的主配置文件的名称和路径 -->
  	</init-param>
  	<load-on-startup>1</load-on-startup>  <!-- 表示在容器启动的时候,就创建这个serverlet -->
  </servlet>
  <servlet-mapping>
  	<servlet-name>springmvc1</servlet-name>
  	<url-pattern>/</url-pattern>   <!-- 表示把所有的请求都拦下来 -->
  </servlet-mapping>
  
  <!-- 配置一个处理乱码的过滤器 -->
  <filter>
  	<filter-name>codeFilter</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
	  	<filter-name>codeFilter</filter-name> 
	  	<url-pattern>/*</url-pattern>                                   
  </filter-mapping> 
  
  
  
</web-app>